* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #4682b4;
    color: white;
    padding: 1em;
    text-align: center;
    position: relative;
}

main {
    background-color: #f0f0f0;
    padding: 2em;
    max-width: 100ch;
    margin: 0 auto;
}

p {
    line-height: 1.6;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.search-input {
    padding: 0.5em 1em;
    font-size: 1em;
    border: none;
    border-radius: 20px 0 0 20px;
    width: 400px;
    background-color: #fff;
    height: 40px; 
    box-sizing: border-box;
}

.search-button {
    margin-top: 7px;
    padding: 0 10px;
    border: none;
    background-color: #fff;
    color: #4682b4;
    font-size: 1em;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
    height: 40px; 
    box-sizing: border-box;
}

.search-button:hover {
    background-color: #e0e0e0;
}

.search-button svg {
    fill: #4682b4;
    vertical-align: middle; 
    width: 20px;
    height: 20px;
}


.filter-container {
    position: absolute;
    top: 1em;
    right: 1em;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.filter-icon {
    margin-top: 65px;
    width: 24px;
    height: auto;
}

.filter-count {
    margin-top: 25px;
    margin-left: 0.5em;
    background-color: red;
    border-radius: 50%;
    padding: 0.2em 0.5em;
    font-size: 0.8em;
}


dialog {
    padding: 1em;
    border: none;
    border-radius: 8px;
    position: relative;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.8);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}

form label {
    display: block;
    margin-top: 1em;
}

form input, form select {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}

menu button {
    padding: 0.5em 1em;
    border: none;
    background-color: #4682b4;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

/*news*/
#news-container {
    margin-top: 2em;
}

.news-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
}


#news-container ul {
    list-style: none;
    padding: 0;
}

#news-container li.news-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
}

#news-container img {
    max-width: 100%;
    height: auto;
}

#news-container h2 {
    margin: 10px 0;
}

#news-container .read-more-button {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background-color: #4682b4;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

#news-container .read-more-button:hover {
    background-color: #315f7c;
}

/*pagination*/
#pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    list-style-type: none;
}


#pagination-container li {
    margin: 0 5px;
}

#pagination-container button {
    background-color: white;
    border: 1px solid #4682b4;
    color: #4682b4;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
}

#pagination-container button:hover {
    background-color: #e0e0e0;
}

#pagination-container button.selected {
    background-color: #4682b4;
    color: white;
    cursor: default;
}